.card{
    display: flex;
    flex-direction: column;
    /* height: fit-content; */
    width: 200px;
    background: #F8FBFB;
    border-radius: 8px;
    align-items: center;
    margin: 1rem 0.75rem;
    padding: 0.5rem;
}
/* .card div{
    padding: 1rem;
} */

/* .card--image{
    height: 100px;
    width: 150px;
} */

.card--text{
    display: flex;
    flex-direction: column;
}

.card--prices{
    display: flex;
    flex-direction: row;
}
.main--price{
    color: #A8B6BB;
    font-weight: 300;
    padding-right: 1rem;
}
.discounted--price{
    color: #1FB890;
    padding-left: 1rem;
}

.card--text > p, .card--prices > p{
    font-weight:600;
    font-size:12px;
    /* line-height:24.46px; */
}

.add--to--cart{
    background-color: #1FB890;
    color: #F8FBFB;
    cursor: pointer;
    border: none;
    font-weight: 600;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 3px auto;
}

.add--to--cart:hover{
    background-color: #259678;
}