.collection--text{
    color: #122025;
    text-align: center;
}

.collection--nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.collection--nav > button{
    cursor: pointer;
    border: none;
    font-weight: 600;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 3px auto;
    
}

.collection--nav > button:active{
    background: #1FB890;
    color: #ffffff;
}
.collection--nav > button:hover{
    background: #122025;
    color: #ffffff;
}