#customer--reviews{
    background-color: #FAFAFA;
}

.customer--reviews--container{
    display: grid;
}

@media screen and (max-width: 1024px){
    .customer--reviews--container{
        display: flex;
        flex-wrap: wrap;
    }
}

.customer--reviews--text{
    /* display: flex;
    flex-direction: column; */
    text-align: start;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.rating{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.customer--reviews--image{
    margin:0 auto;
}

.customer--reviews--image > img{
    max-width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}