#hero{
    /* width: 100%; */
    display: grid;
    margin-top: 1rem;
    /* flex-wrap: wrap; */
    /* column-gap: 1rem; */
    /* margin: 0 1rem; */
    /* border: 1px solid #000000; */
}

@media screen and (max-width: 830px){
    #hero{
        display: flex;
        flex-wrap: wrap;
    }
    /* .hero--text{
        padding: 0;
        margin: 0;
    } */
    .hero--images{
        margin: 0 auto;
        
    }
    .hero--images > svg{
        height: fit-content;
        width: fit-content;
        padding-top: 2rem;
    }
}

.hero--text{
    /* display: grid; */
    /* border: 1px solid #000000; */
    grid-column-start: 1;
    grid-column-end: 3;
    /* padding: 10px; */
    align-self: center;
}

.hero--text > h1{
    font-style: normal;
    font-weight: 500;
    font-size: xx-large;
    line-height: normal;
}

.the--best{
    color: #F2C229;
    font-weight: 700;
}

.your--interior{
    color: #000000;
    font-weight: 700;
}

.hero--buttons{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-weight: 600;
    vertical-align: middle;
}

.hero--buttons > button{
    border: 1px solid black;
}
@media screen and (max-width: 768px){
    .hero--text{
        text-align: center;
    }

    .hero--buttons > button{
        margin: 0 auto;
    }
    
    .hero--images{
        display: flex;
        padding: 0;
        margin-top: 2rem;
    }
}
.shop--now--button{
    border: none;
    background-color: #1C2A2F;
    color: #FBFDFD;
}

.watch--video--button{ 
    border-radius: 8px;
    border: none;
}

.shop--now--button > span, .watch--video--button > span{
    vertical-align: middle;    
}

.shop--now--button, .watch--video--button{
    border-radius: 5px;
    height: 2.5rem; 
    cursor: pointer;
    font-weight: 600;
    align-items: center;
    justify-items: center;
    vertical-align: middle;
}


.hero--images{
    grid-column-start: 3;
    grid-column-end: 5;
}