nav{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;

}

.nav--items{
    display: flex;
    margin: 0 auto;
}

.nav--items > a {
    margin-left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #122025;
}

.nav--items > a:hover{
    color: #12202593;
}

.search{
    margin-left: 1rem;
}

.cart{
    margin-left: 1rem;
}

@media screen and (max-width: 863px) {
    .nav--items{
        display: none;
    }
    .nav--icons{
        display: none;
    }
}

.hamburger{
    display: none;
}

@media screen and (max-width: 863px) {
    .hamburger{
        display: block;
        margin-left: auto;
    }
}